<section>
    <div class="container mt-3">
        <div class="row">
            <a href="admin/add-products" class="btn btn-success " style="width: 150px; margin-left :1000px;">Add products</a>
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each all_products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td><img src="/product-images/{{this._id}}.jpg" style="height: 50px; width: 50px;"></td>
                    <td>
                        <a href="admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to Delete?')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>