<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2 class="text-center mt-3">Edit Products</h2>
                {{#each pro}}
                <form enctype="multipart/form-data" action="/admin/edit-product/{{this._id}}" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{this.name}}">

                    <label>Category {{pro.category}}</label>
                    <input type="text" name="category" class="form-control" value="{{this.category}}">

                    <label>Price</label>
                    <input type="text" name="price" class="form-control" value="{{this.price}}">

                    <label>Description</label>
                    <input type="text" name="description" class="form-control" value="{{this.description}}">
                    
                    <br>
                    <label>Image</label>
                    <input type="file" name="image" class="form-control" onchange="viewImage(event)" >
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
                
            </div>
            <div class="col-md-6">
                <img src="/product-images/{{this._id}}.jpg" style="height: 30rem; width:30rem" class="mt-5" id="imageView" >
            </div>
            {{/each}}
        </div>
        <script>
            function viewImage(event){
                document.getElementById('imageView').src=URL.createObjectURL(event.target.files[0])
            }
        </script>
    </div>
</section>