    <section>
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card" style="width: 15rem; height:24rem">
                        <img src="product-images/{{this._id}}.jpg" class="card-img-top" style="object-fit: contain; height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            {{#if ../user }}
                                <form method="POST" action="/add-to-cart/{{this._id}}">
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                            {{else}}
                                <a class="btn disabled">Add to cart</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        </div>
    </section>