<div class="container">
    <h1 class="my-5">My Cart</h1>

    <!-- Cart items table -->
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.product.name}}</td>
                <td>${{this.product.price}}</td>
                <td>
                    <button class="cart-item-count mr-3" onclick="updateQuant('{{this.product._id}}','dec')" id="dec_{{this.product._id}}">-</button>
                    <span id="{{this.product._id}}">{{this.count}}</span> 
                    <button class="cart-item-count ml-3" onclick="updateQuant('{{this.product._id}}','inc')">+</button>
                </td>
                <td>${{this.product.price}}</td>
                <td><button class="btn btn-danger">Remove</button></td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="3" class="text-right">Subtotal</td>
                <td>$22.97</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Tax</td>
                <td>$1.38</td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>$24.35</td>
            </tr>
        </tbody>
    </table>

    <!-- Checkout button -->
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Checkout</button>
    </div>
</div>
<script>

    function updateQuant(proId, count) {
        const request = new XMLHttpRequest();
        request.open('PUT', '/cart?id='+proId+'&count='+count);
        request.send();
        
        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                if(data.count==1){
                    document.getElementById('dec_'+proId).disabled=true;
                }else{
                    document.getElementById('dec_'+proId).disabled=false;
                }
                document.getElementById(proId).innerHTML = data.count;
            } else {
                console.error('Request failed:', request.status);
            }
        };
    }
</script>