<div class="container">
    <h1 class="my-5">My Cart</h1>

    <!-- Cart items table -->
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.product.name}}</td>
                <td>${{this.product.price}}</td>
                <td>
                    <button class="cart-item-count mr-3" onclick="updateQuant('{{this.product._id}}','dec',{{this.product.price}})" id="dec_{{this.product._id}}">-</button>
                    <span id="{{this.product._id}}count">{{this.count}}</span> 
                    <button class="cart-item-count ml-3" onclick="updateQuant('{{this.product._id}}','inc',{{this.product.price}})">+</button>
                </td>
                <td><a href="/remove-product/{{this.product._id}}" class="btn btn-danger">Remove</a></td>
                <td>$<span id="{{this.product._id}}price">{{this.price}}</span></td>
                
            </tr>
            {{/each}}
            <tr>
                <td colspan="4" class="text-right">Subtotal</td>
                <td>$<span id="subTotal">{{totalPrice}}</span></td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">Tax</td>
                <td>$0.00</td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">Total</td>
                <td>$<span id="totalPrice">{{totalPrice}}</span></td>
            </tr>
        </tbody>
    </table>

    <!-- Checkout button -->
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Checkout</button>
    </div>
</div>
